body {
  font-size: 16px;
  height: 100%;
  text-align: center;
}

ul#output {
  bottom: 200px;
  left: 0;
  list-style-type: none;
  margin: 0;
  overflow-y: scroll;
  padding: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
}

li {
  color: rgba(64, 64, 64, 1);
  font-size: 1em;
  margin-top: 2em;
  white-space: pre-wrap;
  transition: margin 0.75s, padding 0.75s, font-size 1s, ease-out;
  text-shadow: 2px 2px 4px #e0e0e0;
}

li.answer {
  margin-top: 0.5em;
  font-size: 1.5em;
  margin-bottom: 2em;
  padding-top: 0;
}

li.debug {
  color: rgba(192, 192, 192, 1);
  font-size: 0.5em;
  transition: all 0.5s ease-out;
}

li:last-child {
  font-size: 2em;
  font-weight: 600;
  padding-bottom: 4em;
}

.controls {
  bottom: 0;
  height: 200px;
  left: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

#number {
  border: 0;
  border-bottom: 2px solid #000;
  border-radius: 10px 10px 0 0;
  font-size: 4em;
  left: 25%;
  margin-top: 0;
  outline: 0;
  opacity: 1;
  position: absolute;
  text-align: center;
  transition: margin 1s, opacity 0.4s, background 0.5s, ease-out;
  width: 50%;
}

#number::-webkit-inner-spin-button {
  display: none;
}

#number.hidden {
  margin-top: 200px;
  opacity: 0;
}

#number.alert {
  background-color: rgba(255, 192, 192, 1);
}

#choices {
  margin-top: 20px;
  opacity: 1;
  position: absolute;
  top: 0;
  transition: margin 1s, opacity 0.4s, ease-out;
  width: 100%;
}

#choices.hidden {
  margin-top: 200px;
  opacity: 0;
}

button {
  background: linear-gradient(to bottom, #f9f9f9 5%, #f0f0f0 100%);
  border: 0;
  border-radius: 20px;
  box-shadow: inset -1px -1px 0px 0px #e0e0e0;
  color: rgba(128, 128, 128, 1);
  cursor: pointer;
  font-size: 1.5em;
  line-height: 2em;
  min-height: 60px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  outline: 0;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  text-shadow: 2px 2px 4px #e0e0e0;
  min-width: 100px;
}

button:hover {
  background: linear-gradient(to bottom, #f0f0f0 50%, #f9f9f9 100%);
}

button:active {
  left: 1px;
  position: relative;
  top: 2px;
}

#debug {
  border: 0;
  border-bottom: 1px solid #000;
  bottom: 2px;
  left: 5%;
  outline: 0;
  padding: 5px;
  position: fixed;
  text-align: left;
  width: 90%;
}

#debug::-webkit-input-placeholder {
  color: rgba(192, 192, 192, 1);
}